<html>
<head>
    <title>操作失败-信息</title>
    <meta content="zhaojunlike, https://blog.oeynet.com">
</head>
<body>
<h1 style="color: red;">
    操作失败：<%- error.msg %>!!!
    <a href="/">返回首页</a>
</h1>
</body>
</html>